---
import Layout from "../layouts/Layout.astro";
import Message from "../components/Message.astro";
import Dht from "../components/Dht.astro";
---

<Layout title="秀设计">
  <main>
    <Dht />
    <h1>欢迎来到<span class="text-gradient">秀设计</span></h1>
    <h2>创意设计的无限可能</h2>
    <Message greeting="你好" name="设计师"/>
    <div class="instructions">
      <p>在这里，你可以找到各种设计灵感，从平面设计到广告创意，从品牌标识到AI设计模版。我们提供丰富的模板和资源，帮助你快速启动你的设计项目。</p>
    </div>
    <div class="link-card-grid">
      <a href="https://pub-cdn-oss.chuangkit.com/ad_position/615c4b4ea4c14d15be29e5d1247e9e94?imageMogr2%2Fthumbnail%2F400x%3E%2Fformat%2Fwebp" class="link-card" style="background-image: url('https://eyuankupub-1257415142.cos.ap-beijing.myqcloud.com/creative_case_image/1716282526307?imageView2/1/w/268/h/201/q/75|imageslim');">
        <h3 class="card-title">平面设计模板</h3>
      </a>
      <a href="https://pub-cdn-oss.chuangkit.com/ad_position/2621f71dff834dd89c3f8c9e2cd015f3?imageMogr2%2Fthumbnail%2F400x%3E%2Fformat%2Fwebp" class="link-card" style="background-image: url('https://eyuankupub-1257415142.cos.ap-beijing.myqcloud.com/creative_case_image/1714917132837?imageView2/1/w/268/h/201/q/75|imageslim');">
        <h3 class="card-title">广告创意模板</h3>
      </a>
      <a href="https://pub-cdn-oss.chuangkit.com/ad_position/302973c380174681b736505703a2777c?imageMogr2%2Fthumbnail%2F400x%3E%2Fformat%2Fwebp" class="link-card" style="background-image: url('https://eyuankupub-1257415142.cos.ap-beijing.myqcloud.com/creative_case_image/1714982802965?imageView2/1/w/268/h/201/q/75|imageslim');">
        <h3 class="card-title">品牌标识模板</h3>
      </a>
      <a href="https://pub-cdn-oss.chuangkit.com/ad_position/796f1848cfef49d49308e782c2ed0ada?imageMogr2%2Fthumbnail%2F400x%3E%2Fformat%2Fwebp" class="link-card" style="background-image: url('https://pub-cdn-oss.chuangkit.com/cloud_design/2023/11/24/3d8c9fbe-ab1f-4ff9-868d-0b2b573ed2f7?imageView2/1/w/268/h/201/q/75|imageslim');">
        <h3 class="card-title">AI设计模板</h3>
      </a>
    </div>
    <div class="more-templates">
      <h4>更多模版</h4>
      <div class="template-links">
        <a href="https://www.canva.cn/p/templates/EAGIon0ypec/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGIon0ypec/1/0/1197w/canva-_-v3HFNjOdo.jpg');"></a>
        <a href="https://www.canva.cn/p/templates/EAGJTT_EQKU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJTT_EQKU/1/0/1197w/canva-6NZlSeZw5F4.jpg');"></a>
        <a href="https://www.canva.cn/p/templates/EAGIpNds_VU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGIpNds_VU/1/0/1131w/canva-q3lKyTpHjKM.jpg');"></a>
        <a href="https://www.canva.cn/p/templates/EAGIurK2-r8/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGIurK2-r8/1/0/1131w/canva-MrYPyxSQ65k.jpg');"></a>
      </div>
      <div class="more-templates">
      <h4>海报（竖版）</h4>
      <div class="template-links">
        <a href="https://www.canva.cn/p/templates/EAGIon0ypec/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJ9Qy7fqw/1/0/1131w/canva-mcLX5Fzlh8E.jpg');"></a>
        <a href="https://www.canva.cn/p/templates/EAGJTT_EQKU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGH58xJ5SQ/3/0/1131w/canva-h_SNz8UYLAQ.jpg');"></a>
        <a href="https://www.canva.cn/p/templates/EAGIpNds_VU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJA0ApJwQ/1/0/1131w/canva-ikN78TCrTNA.jpg');"></a>
        <a href="https://www.canva.cn/p/templates/EAGIurK2-r8/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGHiskkEg8/2/0/1131w/canva-WnwAW5KFrzk.jpg');"></a>
        </div>
      <div class="more-templates">
      <h4>手机海报</h4>
       <div class="template-links">
       <a href="https://www.canva.cn/p/templates/EAGIon0ypec/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGAaK5p97c/1/0/900w/canva-lTqzzdxd41Q.jpg');"></a>
       <a href="https://www.canva.cn/p/templates/EAGJTT_EQKU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJnAbWF10/1/0/900w/canva-FFnt8usuNts.jpg');"></a>
       <a href="https://www.canva.cn/p/templates/EAGIpNds_VU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJtwGpLxg/2/0/900w/canva-xdXPYfP8_NM.jpg');"></a>
       <a href="https://www.canva.cn/p/templates/EAGIurK2-r8/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJTqKqVqE/1/0/900w/canva-zLou6dUyRjk.jpg');"></a>
        </div>
      <div class="more-templates">
      <h4>简历</h4>
      <div class="template-links">
       <a href="https://www.canva.cn/p/templates/EAGIon0ypec/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJ4m1j_6I/1/0/1131w/canva-7mhae7JAyUs.jpg');"></a>
       <a href="https://www.canva.cn/p/templates/EAGJTT_EQKU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJ4k9p5XA/1/0/1131w/canva-RHR1uTWLEkg.jpg');"></a>
       <a href="https://www.canva.cn/p/templates/EAGIpNds_VU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJGyYgSL8/1/0/1131w/canva-ETAE7mxTXi4.jpg');"></a>
       <a href="https://www.canva.cn/p/templates/EAGIurK2-r8/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJIHlI5vg/2/0/1131w/canva-mKL_uevSJqQ.jpg');"></a>
        </div>
      <h4>logo</h4>
      <div class="template-links">
      <a href="https://www.canva.cn/p/templates/EAGIon0ypec/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJqev4fro/1/0/1600w/canva-BqOmoPjONNE.jpg');"></a>
      <a href="https://www.canva.cn/p/templates/EAGJTT_EQKU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJSurriWs/1/0/1600w/canva-sHnn9AGhsh4.jpg');"></a>
      <a href="https://www.canva.cn/p/templates/EAGIpNds_VU/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJ-FHpt1w/1/0/1600w/canva-mMLfZlgolgM.jpg');"></a>
      <a href="https://www.canva.cn/p/templates/EAGIurK2-r8/" class="template-link" style="background-image: url('https://marketplace.canva.cn/EAGJDb8dlvk/1/0/1600w/canva-onRoC_dBTxI.jpg');"></a>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #000; 
    font-size: 20px;
    line-height: 1.6;
    background-color: #f0f8ff;
  }
  nav a {
    color: #89b8f0;
    text-decoration: none;
    margin-right: 4rem;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h2 {
    text-align: center;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: linear-gradient(45deg, #007acc, #89b8f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(0, 122, 204, 0.25);
    background: linear-gradient(
      rgba(0, 122, 204, 0.66),
      rgba(0, 122, 204, 0.33)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(0, 122, 204, 0.12);
    color: #007acc;
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: #007acc;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .link-card {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    text-align: center;
    color: #fff; 
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
  }
  .card-title {
    background: rgba(0, 0, 0, 0.5); 
    padding: 1rem 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .more-templates {
    margin-top: 2rem;
  }
  .template-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .template-link {
    display: block;
    width: 210px; 
    height: 150px; 
    background-size: cover;
    background-position: center;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
</style>