---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Dht from "../components/Dht.astro";
---

<Layout title="场景设计">
  <main>
    <Dht />
    <h1><span style="color: black;">欢迎来到</span><span style="color: #007acc;">秀设计</span></h1>
    <h2>设计什么，都毫不费力</h2>
    <p>无论是设计演示文稿，还是Logo和社交媒体帖子，你不需要拥有专业的技能，秀设计都能为你提供丰富的模板和资源，帮助你轻松打造出令人惊艳的空间设计。点击下方图片，立即开始你的设计之旅！</p>
    <img src="https://static-cse.canva.cn/blob/337070/create-root-v2-banner.24935da5.avif" alt="场景设计示例" style="display: block; margin: 0 auto; max-width: 100%;">
    <button class="start-design-button" onclick="redirectToLoginOrRegister()">使用网页版</button>
    <h3>创造各种设计</h3>
    <p>从名片到朋友圈照片，你可以用秀设计里面做出任何类型的设计。我们的步骤指南会手把手地教你如何做出快捷又好看的设计。</p>
    <div class="image-container">
      <div class="image-item">
        <img src="https://static-cse.canva.cn/blob/337067/create-business.jpg" alt="商务办公" style="max-width: 100%;">
        <h4 style="text-align: left; margin-left: 20px;">商务办公</h4>
        <ul>
          <li>名片设计</li>
          <li>简历设计</li>
          <li>PPT设计</li>
          <li>简报设计</li>
          <li>公告设计</li>
          <li>报告设计</li>
        </ul>
      </div>
      <div class="image-item">
        <img src="https://static-cse.canva.cn/blob/337074/create-marketing.jpg" alt="市场营销" style="max-width: 100%;">
        <h4 style="text-align: left; margin-left: 20px;">市场营销</h4>
        <ul>
          <li>海报设计</li>
          <li>Logo设计</li>
          <li>邀请函设计</li>
          <li>优惠券设计</li>
          <li>门票设计</li>
          <li>贴纸设计</li>
        </ul>
      </div>
    </div>
    <div class="image-container">
        <div class="image-item">
          <img src="https://static-cse.canva.cn/blob/337064/create-media.jpg" alt="新媒体运营" style="max-width: 100%;">
          <h4 style="text-align: left; margin-left: 20px;">新媒体运营</h4>
          <ul>
            <li>二维码设计</li>
            <li>插画设计</li>
            <li>微信公众号封面设计</li>
            <li>微博图片设计</li>
            <li>活动封面设计</li>
            <li>抖音背景图设计</li>
            <li>日签设计</li>
            <li>信息图表设计</li>
          </ul>
        </div>
        <div class="image-item">
          <img src="https://static-cse.canva.cn/blob/337071/create-ecommerce.jpg" alt="电商微商" style="max-width: 100%;">
          <h4 style="text-align: left; margin-left: 20px;">电商微商</h4>
          <ul>
            <li>banner设计</li>
            <li>主图图标设计</li>
            <li>电子名片设计</li>
            <li>授权设计</li>
            <li>手机海报设计</li>
            <li>直播间贴片设计</li>
          </ul>
        </div>
      </div>
      <div class="image-container">
        <div class="image-item">
          <img src="https://static-cse.canva.cn/blob/337077/create-education.jpg" alt="教育培训" style="max-width: 100%;">
          <h4 style="text-align: left; margin-left: 20px;">教育培训</h4>
          <ul>
            <li>手抄报设计</li>
            <li>证书设计</li>
            <li>白班设计</li>
            <li>演示文稿设计</li>
            <li>书籍封面设计</li>
            <li>课程表设计</li>
            <li>座位表设计</li>
            <li>设计表设计</li>
            <li>信纸设计</li>
          </ul>
        </div>
        <div class="image-item">
          <img src="https://static-cse.canva.cn/blob/337063/create-live.jpg" alt="生活娱乐" style="max-width: 100%;">
          <h4 style="text-align: left; margin-left: 20px;">生活娱乐</h4>
          <ul>
            <li>头像设计</li>
            <li>食谱设计</li>
            <li>贺卡设计</li>
            <li>CD封面设计</li>
            <li>手账设计</li>
            <li>微信朋友圈封面设计</li>
            <li>陪玩自介卡设计</li>
            <li>封口贴设计</li>
            <li>飞盘设计</li>
          </ul>
        </div>
      </div>
      <div class="image-container">
        <div class="image-item">
          <img src="https://static-cse.canva.cn/blob/337080/create-print.jpg" alt="印刷物料" style="max-width: 100%;">
          <h4 style="text-align: left; margin-left: 20px;">印刷物料</h4>
          <ul>
            <li>菜单设计</li>
            <li>宣传单设计</li>
            <li>书签设计</li>
            <li>三折页设计</li>
            <li>易拉宝设计</li>
            <li>手机壳设计</li>
            <li>抱枕设计</li>
            <li>帆布包设计</li>
          </ul>
        </div>
        <div class="image-item">
          <img src="https://static-cse.canva.cn/blob/337083/create-pic.jpg" alt="图片设计" style="max-width: 100%;">
          <h4 style="text-align: left; margin-left: 20px;">图片设计</h4>
          <ul>
            <li>拼图设计</li>
            <li>手机壁纸设计</li>
            <li>电脑桌面设计</li>
            <li>手机照片拼图设计</li>
            <li>视频设计</li>
            <li>视频封面设计</li>
            <li>视频边框设计</li>
          </ul>
        </div>
      </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #000; 
    font-size: 20px;
    line-height: 1.6;
    background-color: #f0f8ff;
  }
  nav a {
    color: #89b8f0;
    text-decoration: none;
    margin-right: 4rem;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;}
  p {
    padding: 1rem 0;
    max-width: 100%;
    color: rgb(18, 18, 19);
    font-size: 16px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    color: #007acc;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  h4 {
    font-size: 1.5rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 1em;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.5em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: white(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: white (var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .template-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .template-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
  }
  .template-item img {
    width: 100%;
    height: auto;
  }
  .start-design-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .image-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }
  .image-item img {
    width: 100%;
    height: auto;
  }
  ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    font-size: 14px;
  }
  ul li {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
</style>

<script>
  function redirectToLoginOrRegister() {
    // 假设登录或注册页面URL为 /login-register
    window.location.href = "/login-register";
  }

  function redirectToTemplateCenter() {
    // 假设模板中心页面URL为 /template-center
    window.location.href = "/template-center";
  }
</script>