<a href="/">首页</a>
<a href="about">素材模版</a>
<a href="moban">场景设计</a>
<a href="sayHi">资源教程</a>

<style>
    a{
        color: rgb(82, 160, 229);
        text-decoration: none;
        margin-right: 1em;
        padding: 0.5em;
    }

    a:hover {
        background-color: rgb(101, 189, 244);
        color: black;
    }
</style>